@import url(./common.css);


:root {
    --label-font-size: 1.2rem;
    --btn-font-size: 1rem;
}



#logo-img {
    width: 5rem;
}


.page-container {
    display: flex;
    margin: 4vh auto;
    width: 100vw;
    height: 80vh;
}


.page-container .search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    width: 80%;

    background-color: #ffffff00;
    backdrop-filter: blur(2px);
}


.page-container .media-section {
    width: 50%;
    max-width: 40vw;

    background-image: url(../Assets/Images/leio-mclaren-FwdZYz0yc9g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.search-section>input[type="text"] {
    padding: .4rem;
    margin: 2rem 0;

    width: 50%;

    font-size: 1rem;
    /* text-align: center; */
    color: white;
    /* background: none; */
    border: .2rem solid white;
    border-radius: 10px;

}

.search-section .city-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    padding: 0 1rem;
    gap: 1rem;

    width: 80%;
    min-height: 10rem;

    list-style-type: none;
    overflow: auto;
}

.search-section .city-list .city-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 10rem;

    font-size: 1.2rem;

    color: white;
    background-color: #34001ac8;
    border-radius: 10px;

    cursor: pointer;
}